<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone</strong>
  <%= @student.phone %>
</p>


<%= link_to 'Back', student_path %>
<%= link_to 'Edit', edit_student_path(@student) %> |

